/*
Colors:
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway', sans-serif;
}

.juego{
	background-color: #00B2A9;
	padding: 40px 0;
}

#tablero{
	position: relative;
	height: auto;
	background-color: #EDE9E2;
	padding: 40px;
	margin: 0 auto;
}

.h2-play{
	background-color: #EDE9E2;
	padding: 20px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	color: #75726C;
	margin-top: 40px;
	margin-bottom: 80px;
}

button {
	padding: 10px;
}

/*PROPIEDADES MAPA*/
tr{
	margin: 0;
}
td {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 0;
}

table{
  border-spacing: 0px;
	height: auto;
	border: 2px solid black;
	background-image: url(../img/fondo.png);
	background-size: 100%;
	filter: contrast(150%);
}

.pared img{
	width: 100%;
}

.inicio{
	/*background-color: red;*/

}

.final{
	/*background-color: green;*/
}

.blanco{
  background: none;
}

.muerte{
	background-color: black;
}

#img-chuck, #img-nest{
	width: 60px;
	height: 60px;
	float: left;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: -18px;
	z-index: 10000;
}
.transporta{
	background-image: url(..img/pelota.png);
	background-size: 100%;
}
/* Boton level*/
#inputEspacio {
 width: 230px;
	 height: 103px;
	 font-size: 70px;
	 position: relative;
	 left: 185px;
	 text-align: center;
}

#btnLevel {
 width: 100px;
	 height: 46px;
	 position: absolute;
	 font-size: 30px;
	 right: 45px;
}

#btnCancel {
 width: 100px;
	 height: 46px;
	 font-size: 26px;
	 position: absolute;
	 right: 45px;
	 bottom: 40px;
}

#imgAdorno{
 width: 159px;
	 height: 150px;
	 position: absolute;
	 top: 20px;
	 left: 15px;
}
/* Boton instrucciones*/
#instEspacio {
 width: 360px;
	 height: 200px;
	 font-size: 20px;
	 text-align: justify;
}

#imgArrow {
 width: 90px;
	 height: 70px;
	 position: absolute;
	 right: 60px;
	 bottom: 35px;;
}

#imgBirdsChuck {
 width: 120px;
	 height: 145px;
	 position: absolute;
	 right: 65px;
}

#imgArrow:hover {
 width: 95px;
	 height: 75px;
}
